<%= link_to "Home", root_url %>

<h1>Game <%= game.id %></h1>

<% if game.done? %>
  <h3>All done!</h3>
  <h4>Hopefully you were talking about <%= game.winner.name %>?</h4>
  <div>
    <%= image_tag "#{game.winner.slug}.jpg", class: "profile-pic" %>
  </div>
<% else %>
  <h3>Current Question:</h3>
  <% question = game.current_question %>
  <div>
    <%= question.title %>
  </div>
  <div>
    <% question.answers.each do |answer| %>
      <%= button_to answer.title, choose_path(game, answer: answer.id) %>
    <% end %>
  </div>


<% end %>
